
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: bisque;
}
body{
    font-family: 'Lumanosimo', cursive;
}
.header{
    height: 60vh;
    width: 100vw;
    background: url(BG_1.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:bisque    ;
    position: relative;
}
.bg-dark{
    background: black;
    color: bisque;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitems{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.headline{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50,-50);
    text-align: center;
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 600px;
}

.section-todo{
    margin: 4rem;
    text-align: center;
}

/* .bg-dark{
    background: black;
    color: white;
} */

.form-todo{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.form-todo input{
    min-height: 100%;
}

.form-todo input[type="text"]{
    width: 78%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}
.form-todo input[type="submit"]{
    width: 20%;
    background: rgb(44, 55, 63);
    color: white;
    font-weight: bold;
    
}
.todo-list{
    /* display: flex; */
    /* align-self: auto; */
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}
.todo-list li{
    margin: auto;
    padding: 0.7rem;
    background: #444;
    color: white;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.section-signup{
    margin: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    /* margin: 30%; */
    /* margin-left: 15%; */
    text-align: center;
    background-color: rgba(78, 58, 58, 0.329);
    border-radius: 10px;
}

.signup-form{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
}
.form-group label{
    display:flex;
    font-weight: lighter;
    font-size: small;
}
.form-group input{
    display: flex;
    width: 100%;
    padding: 0.5rem;
}

.form-group{
    margin-top: 1rem;
}

.form-group textarea{
    width: 100%;
}

.signup-btn{
    background-color: rgb(44, 55, 63);
    color: aliceblue;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 0.2rem;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200;300;400;500600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header{
    min-height: 60vh;
    background: url("./BG_1.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.nav{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
}

.nav-item{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.headline{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-headline{
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.section-todo{
    margin-top: 5rem;
    text-align: center;
}

.form-todo{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-todo input{
    min-height: 100%;
}

.form-todo input[type="text"]{
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
}

.form-todo input[type="submit"]{
    width: 20%;
    background-color:bisque;
    color: black;
    font-weight: bold;
}

.todo-list{
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}
.todo-list li{
    margin: auto;
    padding: 0.7rem;
    background: #444;
    color: white;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.section-signup{
    margin-top: 2rem auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: rgba(78, 58, 58, 0.329);
    border-radius: 10px;
}

.signup-form{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
}
.form-group label{
    display:flex;
    font-weight: lighter;
    font-size: small;
}
.form-group input{
    display: flex;
    width: 100%;
    padding: 0.5rem;
}

.form-group{
    margin-top: 1rem;
}

.form-group textarea{
    width: 100%;
}

.signup-btn{
    background-color: rgb(44, 55, 63);
    color: aliceblue;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 0.2rem;
} */