
.box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(0.5); */
    /* transform: rotate(45deg); */
    /* transform: scale(2); */
    /* transform: skew(45deg); */

    /* 3D */
    transform: translate(300px, 100px);
    background-color: rgb(238, 225, 144);
}
p{
    font-size: 26px;
}